.anillo {
    display: block;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}
.animales {
    display: block;
    width:30%;
    margin-left: auto;
    margin-right: auto;

}
.anillos {
    display: block;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}
.plata {
    display: block;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
.aro {
    display: block;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}
.pintura {
    display: block;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}
.valores {
    font-size: 20px;
    padding: 0px;
}
.card-title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
h2 {
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card{
    width: 400px;
}
.logoimg{
    padding: 10px;

}
.inicio{
    text-align: center;
    line-height: normal;
}
.inicio li{
    display: inline;
    border: 1px;
    padding: 8px;
    list-style: none;
    line-height: 100px;
    
}
.inicio li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    color: white;    
}
.duoc{
    width: 150px;
}
.pie{
    
    background-color: black;
    width: 100%;
    height: 500px;
}
.elementos{
    float: left;
    width: 1050px;
    padding: 100px;

}
.elemento1{
    float: left;
    width: 400px;
    padding: 20px;
}
.elemento2{
    
    float: right;
    width: 400px;
    padding: 20px;
}
.TF{
    color: purple;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.listamenufeet{
    list-style: none;
    float: left;
    line-height: 50px;
    color: white;
}
.listamenufeet li a{
    color: white;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.TF2{
    color: purple;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.link1{
    color: white;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.logoduocinf{
    padding: 50px;
    float: right;
}
.duocinf{
    width: 500px;
}
.derechos{
    background-color: black;
    width: 100%;
    height: 100px;
    color: white;
}
.copy{
    float:left;
}
.pinturagaleria{
    width: 70%;
}
.yeah{
    width: 65%;
}
.tejido{
    width: 85%;
}